@import "tailwindcss";

@theme{
  --font-red-hat: "Red_Hat_Display", "sans-serif";
  --font-cederville-cursive: "Cedarville_Cursive", "cursive";
  --font-special-elite: "Special_Elite", "cursive";
  --font-pirata-one: "Pirata One", "sans-serif";
  --font-gidole: "Gidole", sans-serif;
}